p {
    color: #777777;
    font-size: 18px;
}

.destination_text {
    padding: 10px;
    margin: 200px;
    height: 70px;
    h2 {
        color: #29d9c2;
        font-size: 50px;
    }
}

.batu_background_no1 {
    margin: 50px;
}

.batu_text{
    opacity: 0.9;
    background: #fff;
    width: 410px;
    height: 450px;
    padding: 30px;
    margin: 90px;
    padding: 45px;
    position: absolute;
    right: 30px;
    bottom: -1310px;
    text-align: left;
}

h3 {
    font-weight: normal;
    color: #29d9c2;
    font-size: 30px;
}

.bromo-background-no1 {
    margin: 70px;
    width: 100;
    height: 100;
    margin-right: 10;
    margin-bottom: 100px;
}

.palm-icon {
    position: absolute;
    text-align: center;
    left: 920px;
    bottom: -1520px;
    z-index: 1;
    opacity: 0.9;
    background: #fff;
    border-radius: 60px;
    line-height: 11;
    width: 120px;
    height: 120px;
}

.bromo_text {
    position: relative;
    top: -465px;
    opacity: 0.9;
    background: #fff;
    width: 305px;
    height: 305px;
    padding: 30px;
    margin: 70px;
}