.city
    .city_img
        img(src="/img/about-picture.png", alt="city")
    .header__text-city 
        h2 City of 
            span Love
        p Malang is the second largest city in East Java province, Indonesia. It has a
        p history dating back to the ancient Mataram Kingdom. The city is famous for its cool
        p temperature. People in East Java sometimes call it "Paris of East Java".