.contact_left
    h2 Contact
        form(name="contact")
            input(type="text" name="Your Email" placeholder="Your Email")
            input(type="text" name="Company" placeholder="Company")
            input(type="text" name="Subject" placeholder="Subject")
            input(type="text" name="Your messages" placeholder="Your messages")
            input(type="button", value="SEND MESSAGE")
            iframe(src="https://yandex.ru/map-widget/v1/-/CGeByGn9", frameborder="1")
