.destination
    .destination_text
        h2 Des
            span tination
        p Being around by many mountain, Malang not only came with mountain vacation, but our beach,
        p cultural spot, and Human Interest is worth to experienced.
.carousel
    .batu_background_no1
        img(src="/img/batu-background-no1.jpg", alt="batu-background-no1")
    .batu_text
        img(src="/img/carousel-icon.png", alt="carousel")
        h3 Batu
        p is a city located in East Java Province of Indonesia.
        p It is situated about 20 km to the northwest of Malang.
        p Formerly, it was a part of Malang Regency; but in 2001,
        p Batu became an independent city.
        p A population of 190,000 people,
        p it lies on the southern slopes of Gunung Welirang.
        p Its population largely consists of Javanese.
    .bromo
        .bromo-background-no1
            img(src="/img/bromo-background-no1.jpg", alt="bromo-background-no1.jpg")
            img(src="/img/bromo-picture-no2.jpg", alt="bromo-picture-no2")
        .palm-icon
            img(src="/img/palm-icon.png", alt="palm-icon")
        .bromo_text
            img(src="/img/mountains-icon.png", alt="mountains-icon")
            h3 Bromo
            p Mount Bromo is an active volcano and
            p part of the Tengger massif, in East Java,
            p Indonesia. At 2,329 metres (7,641 ft) it
            p is not the highest peak of the massif,
            p but is the most well known.