.logo YokNgalam
ul
    li 
        a(href="#" Home) Home
    li 
        a(href="#" Destination) Destination
    li 
        a(href="#" Ittinary) Ittinary
    li 
        a(href="#" Review) Review
    li 
        a(href="#" Contact) Contact
    li
        img(src="/img/icon.png", alt="menu")
.header__text-header
    h1 LETS GET 
        span LOST
    p Malang will never dissapointed you.
    p From every step you took you will be amazed and suddenly fallin love with Malang.
    button SET ITTINERY NOW