doctype html
html
    head
        include includes/head
    body
        include includes/header
        include includes/city
        include includes/destination
        include includes/contact
        include includes/keep
        include includes/footer